<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <form method="post" action="/admin/user/add_location">
      <%- include('partials/input.ejs', {name: "lat"}) %> <%-
      include('partials/input.ejs', {name: "lng"}) %>
      <button>submit!</button>
    </form>
    <div>
      이름: <%= user.name %>
    </div>
    <div>
      번호: <%= user.phone %>
    </div>
    <div>
      닉네임: <%= user.nickname %>
    </div>
    <%= user %>
    <ul>
      <% for (const location in user.locations) { %>
      <li><%= location %></li>
      <% } %>
    </ul>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch("/user/location", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            lat: Number(document.querySelector("#input-lat").value),
            lng: Number(document.querySelector("#input-lng").value),
            phone: "<%= user.phone %>"
          })
        });
        location.reload();
      });
    </script>
  </body>
</html>
